{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enigma</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/enigma.css' %}">
  </head>
  <body>
    <div class="rotors">
      <div class="slow-rotor">
        <div class="window"></div>
        <div class="buttons">
          <i class="fa fa-angle-up up" aria-hidden="true"></i>
          <i class="fa fa-angle-down down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="middle-rotor">
        <div class="window"></div>
        <div class="buttons">
          <i class="fa fa-angle-up up" aria-hidden="true"></i>
          <i class="fa fa-angle-down down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="fast-rotor">
        <div class="window"></div>
        <div class="buttons">
          <i class="fa fa-angle-up up" aria-hidden="true"></i>
          <i class="fa fa-angle-down down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div id="lampboard">
      <div id="first_row">
        <div id="Q">Q</div>
        <div id="W">W</div>
        <div id="E">E</div>
        <div id="R">R</div>
        <div id="T">T</div>
        <div id="Z">Z</div>
        <div id="U">U</div>
        <div id="I">I</div>
        <div id="O">O</div>
      </div>
      <div id="second-row">
        <div id="A">A</div>
        <div id="S">S</div>
        <div id="D">D</div>
        <div id="F">F</div>
        <div id="G">G</div>
        <div id="H">H</div>
        <div id="J">J</div>
        <div id="K">K</div>
      </div>
      <div id="third-row">
        <div id="P">P</div>
        <div id="Y">Y</div>
        <div id="X">X</div>
        <div id="C">C</div>
        <div id="V">V</div>
        <div id="B">B</div>
        <div id="N">N</div>
        <div id="M">M</div>
        <div id="L">L</div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
