{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enigma</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/enigma.css' %}">
  </head>
  <body>
    <div class="rotors">
      <form id="rotors" method="get">
      <div class="slow-rotor">
        <div class="window">
          <span class="slow-letter"></span>
        </div>
        <div class="buttons">
          <i class="fa fa-angle-up up" aria-hidden="true"></i>
          <i class="fa fa-angle-down down" aria-hidden="true"></i>
        </div>
        <select required>
          <option disabled selected value="">Select Rotor</option>
          <option value="I">I</option>
          <option value="II">II</option>
          <option value="III">III</option>
          <option value="IV">IV</option>
          <option value="V">V</option>
          <option value="VI">VI</option>
          <option value="VII">VII</option>
          <option value="VIII">VIII</option>
        </select>
      </div>
      <div class="middle-rotor">
        <div class="window">
          <span class="middle-letter"></span>
        </div>
        <div class="buttons">
          <i class="fa fa-angle-up up" aria-hidden="true"></i>
          <i class="fa fa-angle-down down" aria-hidden="true"></i>
        </div>
        <select required>
          <option disabled selected value="">Select Rotor</option>
          <option value="I">I</option>
          <option value="II">II</option>
          <option value="III">III</option>
          <option value="IV">IV</option>
          <option value="V">V</option>
          <option value="VI">VI</option>
          <option value="VII">VII</option>
          <option value="VIII">VIII</option>
        </select>
      </div>
      <div class="fast-rotor">
        <div class="window">
          <span class="fast-letter"></span>
        </div>
        <div class="buttons">
          <i class="fa fa-angle-up up" aria-hidden="true"></i>
          <i class="fa fa-angle-down down" aria-hidden="true"></i>
        </div>
        <select required>
          <option disabled selected value="">Select Rotor</option>
          <option value="I">I</option>
          <option value="II">II</option>
          <option value="III">III</option>
          <option value="IV">IV</option>
          <option value="V">V</option>
          <option value="VI">VI</option>
          <option value="VII">VII</option>
          <option value="VIII">VIII</option>
        </select>
      </div>
      <!-- <input type="submit"> -->
      <div id="notepad">
        Input:
        <div id="input">
        </div>
        Output:
        <div id="output">
        </div>
      </div>
      </form>

    </div>
    <div id="lampboard">
      <div class="row">
        <div><div id="Q" class="lamp"><span>Q</span></div></div>
        <div><div id="W" class="lamp"><span>W</span></div></div>
        <div><div id="E" class="lamp"><span>E</span></div></div>
        <div><div id="R" class="lamp"><span>R</span></div></div>
        <div><div id="T" class="lamp"><span>T</span></div></div>
        <div><div id="Z" class="lamp"><span>Z</span></div></div>
        <div><div id="U" class="lamp"><span>U</span></div></div>
        <div><div id="I" class="lamp"><span>I</span></div></div>
        <div><div id="O" class="lamp"><span>O</span></div></div>
      </div>
      <div class="row">
        <div><div id="A" class="lamp"><span>A</span></div></div>
        <div><div id="S" class="lamp"><span>S</span></div></div>
        <div><div id="D" class="lamp"><span>D</span></div></div>
        <div><div id="F" class="lamp"><span>F</span></div></div>
        <div><div id="G" class="lamp"><span>G</span></div></div>
        <div><div id="H" class="lamp"><span>H</span></div></div>
        <div><div id="J" class="lamp"><span>J</span></div></div>
        <div><div id="K" class="lamp"><span>K</span></div></div>
      </div>
      <div class="row">
        <div><div id="P" class="lamp"><span>P</span></div></div>
        <div><div id="Y" class="lamp"><span>Y</span></div></div>
        <div><div id="X" class="lamp"><span>X</span></div></div>
        <div><div id="C" class="lamp"><span>C</span></div></div>
        <div><div id="V" class="lamp"><span>V</span></div></div>
        <div><div id="B" class="lamp"><span>B</span></div></div>
        <div><div id="N" class="lamp"><span>N</span></div></div>
        <div><div id="M" class="lamp"><span>M</span></div></div>
        <div><div id="L" class="lamp"><span>L</span></div></div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
