html {
  height: 100%;
}

body {
  background: #333;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 2em;
  color: darkgrey;
  background-image: url('../img/noise.png');
}

#lampboard {
  padding: 5% 10%;
}

#lampboard div {
  text-align: center;
}

#lampboard div div {
  background: black;
  border: 2px solid darkgrey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 35px;
  padding: 15px;
  margin: 10px;
}
