@import 'https://fonts.googleapis.com/css?family=Special+Elite';

body {
  background-repeat: no-repeat;
  background-size: cover;
}

#greeting {
  text-align: center;
  width: 100%;
  margin: 10% auto;
}

#greeting img {
  max-width: 40%;
}
